
requests
click
selenium
chromedriver-py
furl
twilio
discord-webhook
pycryptodome = "==3.9.8"
questionary
spinlog
slackclient
playsound
prompt_toolkit
aiohttp
async-timeout
amazoncaptcha = "==0.4.4"
browser-cookie3
coloredlogs
apprise
price-parser
pypresence = "==4.0.0"
psutil
stdiomask
packaging
config
lxml
